---
import TryingReact from "@/components/trying-react";

---

<div class="min-h-screen flex justify-center items-center bg-blue-500">
  <h1 class="text-7xl font-bold text-blue-100"><TryingReact /></h1>
</div>